<!DOCTYPE html>
<html>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
 <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
     <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!--       
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    /> -->
    <script>
      // function goToPro(){
      //   const content = $("#friend").val();
      //   const pro = '/profile/'+content;
      //   $.get(pro, function () {
      //     console.log("going to the profile of", pro);
      //   });
      // }
      /*function fun() {
        console.log("adding a post");

        //get the info from the form
        const content = $("#post_to_wall").val();
        const timestamp = new Date();
        const formData = {
          content: content,
          timestamp: timestamp,
          username: "<%= user %>",
        };
        console.log("form data", formData);
        //make the post request to the db

        $.post("/addpost", formData, function () {
          console.log("success");
        });
        console.log(formData);

        location.href = "/profile/<%= user %>";
      }*/
    </script>
     <script>
              function yourFunction(){
                var action_src = "/profile/" + document.getElementsByName("userid")[0].value;
                console.log(action_src,"logging it should work")
                var your_form = document.getElementById('friend');
                your_form.action = action_src ;
                location.href = action_src;
              }
            </script>
   <script>
         $( document ).ready(function() {
          loadTable()
            var availableTutorials  =  [];
            $.get("/getusers", function (data) {
          console.log("here's the data", data);
          $.each(data.Items, function (i, item) {
                  console.log("user in the thing", item.username.S)
                  availableTutorials.push(item.username.S)
                });
        });
           
            $( "#friend" ).autocomplete({
              source: availableTutorials
            });
        });
      </script>
  </head>
  <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="/homepage">PennBook</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <form onsubmit = "yourFunction(); return false">
                <input type="text" id="friend" name="userid">
              </label><input type="submit" value="Search For a Friend!">
              <br>
            </form>


          </li>
          <li>	<div class="ui-widget">

 
    </div></li>
         
        
        </ul>
      </div>
    </nav>
    <div class="container-fluid h-100 bg-light">
      <div class="row h-100">
        <div class="col-2" id="blue">
          <h4 style="margin-top: 10px";><%= user %></h4>
          <!-- Navigation links in sidebar-->
          <a href="/homepage">Home</a>
          <br />
          <a href="/signup">Sign Up</a>
          <br />
          <a href="/change">Change My Account</a>
          <br />
          <a href="/addfriendspage">Add Friends</a>
          <br />
          <a href="/viewfriends">View My Friends</a>
          <br />
          <a href="/createchat">Create Chatroom</a>
          <br />
        </div>

        <div class="col-7" style="text-align: justify; height: 720px; overflow-y: scroll;">
          <!-- This is wear the main feed of the webpage will go -->

          <div class="card" style="margin-top: 10px; width: 46rem">
            <div class="card-body">
              <form onsubmit="fun(); return false">
                <div class="form-group">
                  <label for="exampleInputPassword1">Post to Your Wall</label>
                  <input
                    type="username"
                    class="form-control"
                    id="post_to_wall"
                    placeholder="What would you like to post to <%= user %>'s wall?"
                  />
                </div>

                <button type="submit" class="btn btn-primary">Post</button>
              </form>
            </div>
          </div>
          <table class="sortable" id="posttable">
            <thead></thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

  <script>
    function fun() {
      var x = "<%= user %>";
      console.log("adding a postby ", x);
      //get the info from the form

      const content = $("#post_to_wall").val();
      // const timestamp = Date.now();

      const formData = {
        content: content,
       
        username: x,
      };

      $.post("/addpost", formData, function () {
        console.log("success");
        console.log(formData);
      });
      loadTable();
      //loadTable();
      console.log("should have updated");
      location.href = "/profile/<%= user %>";
      
    }
  </script>
  <script>
    function addCode(htmlcode) {
      document.getElementById("posttable").innerHTML = htmlcode;
    }
    function loadTable() {
      console.log("updating!");
      $.ajax({
        url: "/getposts",
        type: "GET",
        data: {
          id: "<%= user %>",
        },
        success: function (data) {
          var row = "";
          $.each(data.Items, function (i, item) {
        	  //console.log(item.timestamp.S);
        	  var date = new Date(parseInt(item.timestamp.S)).toLocaleString();
        	  //console.log(date);
            row +=
              " <tr>" +
              "<div class='card' style='margin-top: 10px; width: 46rem'>" +
              "<div class='card-body'>" +
              "<h6 class='card-subtitle mb-2 text-muted'>" +
              item.author.S +
              "</h6>" +
              "<p class='card-text'>  " +
              item.content.S +
              " <a href='#'' class='card-link' >" +
              date +
              
              "      " +
           
              "</h6>" +
            "<p class='card-text'>" +
           
              "</p>" +
            "<div class='card' style='margin-top: 10px; width: 46rem'>" + 

            "<div class='card-body'>" + 
              "<form onsubmit='/addcomment; return false'>" + 
                "<div class='form-group'>" + 
                  "<label for='exampleInputPassword1'></label>" + 
                  "<input " +
                    "type='username' " +
                    "class='form-control' " + 
                    " id =  " + item.id  + "_comments '" +
                    " placeholder='Add a comment' " +
                  "/>" + 
                "</div>" + 

                "<button type='submit' class='btn btn-primary'>Post</button>" + 
             " </form> " + 
            "</div>" + 
          "</div>" + 
              "<a href='/homepage'class='card-link'>" +
              " </a>" +
             
              "</div>" +
               
              "</div>" +
              "</tr>";
          });

          addCode(row);
        },
        error: function () {
          console.log("error");
        },
      });
    }
    loadTable();
  </script>
  <script>
    //set an autorefresh for each 10 second interval
    $(document).ready(setInterval(inner_fun, 5000));
    function inner_fun() {
      loadTable();
    }
  </script>
</html>
